// app global css in SCSS form

$brand: #5FA93D;

$actor: #457039;
$project: #DB9D37;
$event: #9b3041;

html {
  //overflow: hidden;
  color: #333;
}

.q-page, .q-layout {
  min-height: 0 !important;
}

a {
  color: $brand;
}

div {
  outline: 0px #999 dashed;
}
