// app global css in SCSS form

$brand: #5FA93D;

$actor: #457039;
$project: #DB9D37;
$event: #9b3041;

html {
  overflow-y: hidden;
  overflow-x: hidden;
  color: #333;
}

.q-page, .q-layout {
  min-height: 0 !important;
}

a {
  color: $brand;
}

a:hover {
  text-decoration: none;
}

div {
  outline: 0 #999 dashed;
}

.d-flex {
  display: flex;
}

.q-btn {
  border-radius: 3px;
  font-weight: normal;
  text-transform: none;
  font-size: 16px;
  background: var(--brandColor);
  color: var(--contrastTextColor);

  &--flat {
    background: transparent;
    color: var(--brandColor);
  }
}

.q-btn::before {
  box-shadow: none;

}

.q-chip {
  background: #f2f2f2;
  cursor: pointer;
}

.break-word {
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
}

.hide-expansion-header > .q-expansion-item__container > .q-item {
  display: none;
}

.filter--active {
  .q-field__control {
    border: 1px solid var(--brandColor);
  }
}


.text-button {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}


/* width */
::-webkit-scrollbar {
  width: 12px;
  transition: all 200ms linear;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eee;
}
